.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content{
  flex: 1;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #696868;
  text-align: center;
  padding: 7px 1rem 7px 1rem;
  margin:0;
  width: 100%;
  font-size: 14px;
}
.footer p {
  margin-bottom: 0;
}
.logo{
  height: 2rem;
  margin-right: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #262A2D;
}

.github-logo{
  height: 2rem;
  padding: 2px;
}
.navbar-brand{
  font-size: 1.5rem;
}
.alert-text{
  margin-top: 3.5rem;
}
.alert{
  padding: 0.7rem;
}